body{
    margin: 0px;
    padding: 0px;
}

.img{
    width: 50px;
    height: 500px;
    object-fit: cover;
    border-radius: 50px;
    cursor: pointer;
    transition: width 250ms ease-in-out;
}


.img.active{
    width: 300px;
    height: 500px;
    object-fit: cover;
    border-radius: 50px;
    cursor: pointer;
    transition: width 250ms ease-in-out;
}

.icon{
    display: none;
}

.icon_show{
    width: 60px;
    height: auto;
    position: absolute;
    margin-top: 420px;
    margin-left: -290px;
}

.place_name{
    display: none;
}

.place_name_show{
    color: white;
    font-size: 24px;
    position: absolute;
    margin-top: 440px;
    margin-left: -220px;
}



.item_card{
    display: inline-block;

}
.item_card.active{
    width: 300px;
    height: 500px;
}

.container{
    margin-left: 850px;
    margin-right: auto;
    margin-top: 100px;
}
